<div class="container-fluid d-flex flex-column justify-content-center align-items-center p-2">
  <div class="container-fluid col-5 border px-5 d-flex justify-content-center align-items-center flex-column">

    <figure class="w-75">
      <img src="https://styles.redditmedia.com/t5_2u4lp/styles/image_widget_rxxalrdgrso01.png" alt=""
        class="object-fit-cover w-100">
    </figure>


    <div class="form-floating mb-3 w-100">
      <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating w-100">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="w-100 p-4">
      <button class="btn btn-primary w-100" routerLink="/list" type="button">
        <h5 class="m-0">Confirmar</h5>
      </button>
    </div>
  </div>
</div>