<div class="container-fluid p-2">
  <div class="container-fluid d-flex justify-content-center align-items-center border">
    <div class="card mb-3 col-4">
      <img [src]="detailCharacter.image" class="card-img-top imgCharacter rounded" alt="logo-character">
      <div class="card-body  border">
        <h5 class="card-title text-center mb-1">{{detailCharacter.name}}</h5>
        <p class="m-0"><b>Status:</b> {{detailCharacter.status}}
          <img [src]="urlImgStatus()" class="imgStatus" alt="status_img">
        </p>
        <p class="card-text m-0"><b>Origem:</b> {{detailCharacter.origin.name}}</p>
        <p class="card-text m-0"><b>Localização:</b> {{detailCharacter.location.name}}</p>
        <p class="card-text"><b>Quantos episódios participou:</b>
          {{detailCharacter.episode.length}}
        </p>
        <div class="container-fluid d-flex justify-content-center align-items-center p-0">
          <button type="button" class="btn btn-primary p-2">
            <a href="/list" class="m-0 text-decoration-none text-light">Voltar para lista</a>
          </button>
        </div>      
      </div>
      


    </div>
  </div>
</div>